body{
    background: radial-gradient(rgba(175, 166, 235, 0.087), rgba(45, 45, 193, 0.438)), url('../images/airport.jpeg');
    background-size: cover;
}

h1{
    font-size: 70px;
}

.form-container{
    border-radius: 20px;
}

@media  screen and (max-width: 720px) {
    h1{
        font-size: 50px;
    }
}